.header #icon {
    background-color: inherit;
    margin: 0;
    font-size: 40px;
}
.header ul {
    list-style-type: none;
    float: right;
    margin: 0;
    height: 50px;
    position: relative;
    padding: 0;
    background-color: rgb(226, 235, 227);
    font-size: 0px;
    width: 100%;
}
.header ul li {
    display: inline-block;
    padding: 5px 15px;
    margin: 0;
    font-size: 0px;
}
.header ul li:hover,
ul #icon:hover {
    background-color: rgb(5, 46, 82);
    color: rgb(227, 230, 90);
}
.header ul li i {
    font-size:100%;
}
@media only screen and (min-width: 768px) {
    .header ul, .header li{
        width: max-content;
    }
}
