* {
    /* width: max-content; */
    /* background-color: inherit; */
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
a{
    color:goldenrod;
    text-decoration: none;
}
body {
    margin: 0%;
    background-color: rgb(204, 197, 197);
    padding-top: 50px;
}
/* .header > #icons{
    float: right;
} */
/* #backImg {
    background-image: url(http://home.iitk.ac.in/~nsingla20/back.jpg);
} */
.header:hover {
    cursor: default;
}
#backVid {
    top: 0px;
    left: 0px;
    position: fixed;
    min-height: 100%;
    min-width: 100%;
    z-index: -2;
}
.header {
    overflow: hidden;
    margin: 0%;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 50px;
    color: goldenrod;
    width: 100%;
    padding: 0;
    background-color: rgb(38, 38, 46);
    border: 0px solid rgb(4, 4, 87);
    z-index: 7;
}
#loading {
    color: crimson;
    width: 100%;
    position: fixed;
    pointer-events: none;
    top: 0px;
    z-index: 2;
    padding: 5px auto;
    font-size: 35px;
    background-color: transparent;
    text-align: center;
}

#btn {
    padding: 10px;
    background-color: rgb(192, 192, 207);
    text-align: center;
}
#btn:hover {
    background-color: indigo;
}
