/* #topic{
    float:left;
    margin: 5px 0px 5px 15px;
    width:max-content;
    display: none;
    color: rgb(16, 150, 94);
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    z-index:3;
}
#topic:hover{
    color: crimson;
}
@media only screen and (min-width: 768px) {
    #topic {display:block;}
} */
.header #hacker {
    overflow: hidden;
    background-color: inherit;
    float: left;
    display: none;
}
.header #hacker #icon {
    position: relative;
    z-index: 2;
    background-color: inherit;
    pointer-events: none;
}
.header #hacker #text:hover {
    width: 348px;
}
.header #hacker #text {

    left: 0px;
    top: 0px;
    height: 50px;
    width: 48px;
    background-color: inherit;
    transition: width 2s;
    position: absolute;
}
.header #hacker #text span {
    position: relative;
    width:max-content;
    font-size: 35px;
    float: right;
    z-index: 1;
}
@media only screen and (min-width: 768px) {
    .header #hacker {
        display: block;
    }
}
