#topic{
    float:left;
    margin: 5px 0px 5px 15px;
    width:max-content;
    display: none;
    color: rgb(16, 150, 94);
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    z-index:3;
}
#topic:hover{
    color: crimson;
}
@media only screen and (min-width: 768px) {
    #topic {display:block;}
}